:root {
  --1rem: 1rem;
}

:root {
  --lime: linear-gradient(to right, #21ff00 0%, rgba(32, 255, 0, 0) 100%);
  --gold: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  --silver: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%);
  --bronze: linear-gradient(45deg, #6C3D1F 0%, #A0522D 45%, #CD853F 70%, #A0522D 85%, #6C3D1F 90% 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.disc {
  font-size: 10pt;
  line-height: 1;
  .bottom-inner {
  //  color: red;
  }
  .front-inner {
//    overflow: auto;
  }
}

.hand {
  font-size: 10pt;
  line-height: 1;

  background: var(--lime);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 50%;

  &--negative {
    background: linear-gradient(to right, orange, rgba(255, 165, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 50%;
  }
}

.pcsi {
  &--part {
    font-size: 64px;
    line-height: 64px;
  }
  &--chapter {
    font-size: 48px;
    line-height: 48px;
  }
  &--section {
    font-size: 32px;
    line-height: 32px;
  }
  &--item {
    font-size: 24px;
    line-height: 24px;
  }
  &__complement {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
  // default
  &__vertical-separator {
    height: 1rem;
  }
}

// vertical-separator
.vs {
  &--1 {
    height: 1rem;
  }
}

.mat {
  &--default {
    color: white;
    background: linear-gradient(90deg, rgba(200, 200, 200, 1.0), rgba(255, 255, 255, 0.5));
    font-family: "Times new roman";
//    font-size: 36px;
//    height: 48px;
  }
}

.flex {
  display: flex;
  &-horizontal {
    display: flex;
    flex-direction: column;
  }
}

.logue {
}

.nowrap {
  white-space: nowrap;
}

.var {
  color: blue;
}

.tag {
  color: white;
  background: rgba(255, 192, 203, 1.0);
}

// channel-button
.cb {
  display: flex;

  // &--hover
  .h {
    &:hover {
      color: white;
      background-color: rgba(0, 0, 255, 0.5);
    }
  }
}

.blank {
  color: rgba(0, 0, 0, 0.1);
}

.my-sb {
  &__vertical-separator-1 {
    height: 1rem;
  }
}

.progress-container {
  width: 8px;
  height: 48px;
  background-color: #e0e0e0;
  overflow: hidden;
  position: relative;

  .progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 0, 0, 1.0);
    transition: height 0.3s ease;
  }
}

.opacity {
  &--half {
    opacity: 0.5;
  }
}

